<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <title><{$title|default=C('SITE_NAME')}></title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <meta http-equiv="Cache-Control" content="must-revalidate,no-cache" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/font_1459473269_4751618.css">
    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/css/index2.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/js/html5shiv_min.js"></script>
    <script src="__PUBLIC__/js/respond_min.js"></script>
    <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="__PUBLIC__/js/jquery_min1_11_2.js"></script>

</head>
{__CONTENT__}

</body>
</html>