<div class="toper navbar-fixed-top">
    <div class="row color_white " >
        <div class="col-xs-2" style="padding-left:25px;"><a class="cwhite" href="#"><img src="__PUBLIC__/images/jt.png" ></a></div>
        <div class="col-xs-8 text-center font20">会员中心</div>
        <div class="col-xs-2"><a href="#"><div class="photo_25" style="margin-top:3px;"></div></a></div>
    </div>
</div>

<!-- toper -->

<div class="height53"></div>

<!-- zhongxin -->
<link href="__PUBLIC__/css/public.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/user.css" rel="stylesheet" type="text/css">

<div class="user_top w">
    <div class="user_logo"><div class="img"><img src="<{$info.headimgurl}>"></div></div>
    <div class="user_info">
        <div class="user_name"><{$info.nickname}></div>
        <div class="user_dengji">账户余额：<{$info.money}></div>
    </div>
</div>



<div class="zx w">
    <a href="#"><div class="ico_img"><img src="__PUBLIC__/images/zhongxin1.jpg"></div><span style="color:#00bb9c">我的订单</span><br><label><{$info.ordersNum}></label></a>
    <a href="#"><div class="ico_img"><img src="__PUBLIC__/images/zhongxin2.jpg"></div><span style="color:#eb4f38">我的收藏</span><br><label><{$info.favNum}></label></a>
    <a href="#" style="border-right:none;"><div class="ico_img"><img src="__PUBLIC__/images/zhongxin3.jpg"></div><span>我的红包</span><br><label><{$info.packetsNum}></label></a>
</div>


<div class="user_nav_list w">
    <ul>
        <li>
            <a href="<{:U('user/myOrder')}>">
                <div class="u_nav_icon money"></div>
                <div class="u_nav_name">我的订单</div>
                <div class="nt_icon"></div>
                <div class="u_money"><i><img src="__PUBLIC__/images/you.png"></i></div>
            </a>
        </li>
        <li>
            <a href="<{:U('user/myAddr')}>">
                <div class="u_nav_icon huibi"></div>
                <div class="u_nav_name">收货地址</div>
                <div class="nt_icon"></div>
                <div class="u_money"><i><img src="__PUBLIC__/images/you.png"></i></div>
            </a>
        </li>

        <li>
            <a href="<{:U('user/myPacket')}>">
                <div class="u_nav_icon tixian"></div>
                <div class="u_nav_name">红包提现</div>
                <div class="nt_icon"></div>
                <div class="u_money"><i><img src="__PUBLIC__/images/you.png"></i></div>
            </a>
        </li>
        <li>
            <a href="<{:U('user/myLink')}>">
                <div class="u_nav_icon dingdan"></div>
                <div class="u_nav_name">我的推广链接</div>
                <div class="nt_icon"></div>
                <div class="u_money"><i><img src="__PUBLIC__/images/you.png"></i></div>
            </a>
        </li>
        <li>
            <a href="<{:U('user/myInvite')}>">
                <div class="u_nav_icon dingdan"></div>
                <div class="u_nav_name">我推荐的好友</div>
                <div class="nt_icon"></div>
                <div class="u_money"><i><img src="__PUBLIC__/images/you.png"></i></div>
            </a>
        </li>

    </ul>
</div>

<div class="login_out w"><a href="javascript:void(0);"><span><img src="__PUBLIC__/images/iconfont-tuichu.png"></span><i>安全退出</i></a></div>
<!-- zhongxin end-->

<div class="height53"></div>
