<body class="huibg">
<nav class="navbar text-center"><img src="__PUBLIC__/images/viplogo.jpg" width="100%">
    <button class="topleft" onclick="javascript:history.go(-1);"><span class="iconfont icon-fanhui"></span></button>
</nav>
<div class="vipcenter">
    <div class="vipheader">
        <a href="userinfo.html">
            <div class="touxiang"><img src="<{$info.headimgurl}>" alt=""></div>
            <div class="name">
                <{$info.nickname}>&nbsp;&nbsp;账户余额：<font color="#ffb31c"><{$info.money}></font>
            </div>
        </a>
    </div>
    <div class="vipsan">
        <div class="col-xs-4 text-center"><a><img src="__PUBLIC__/images/vip1.jpg" width="30"><h4 style="color:#11bfa2">我的订单</h4>
            <p><{$info.ordersNum}></p></a></div>
        <div class="col-xs-4 text-center"><a><img src="__PUBLIC__/images/vip2.jpg" width="30"><h4 style="color:#e64d3b">我的收藏</h4>

            <p><{$info.favNum}></p></a></div>
        <div class="col-xs-4 text-center"><a><img src="__PUBLIC__/images/vip3.jpg" width="30"><h4>我的红包</h4>

            <p><{$info.packetsNum}></p></a></div>
    </div>
    <ul class="vipul">
        <li>
            <a href="<{:U('user/myOrder')}>">
                <div class="icc"><i class="iconfont icon-wenjian1"></i></div>
                <div class="lzz">订单中心</div>
                <div class="rizi"><i class="iconfont icon-jiantouri"></i></div>
            </a>
        </li>
        <li>
            <a href="<{:U('user/myAddr')}>">
                <div class="icc"><i class="iconfont icon-chakangonglve"></i></div>
                <div class="lzz">收货地址</div>
                <div class="rizi"><i class="iconfont icon-jiantouri"></i></div>
            </a>
        </li>
        <li>
            <a href="<{:U('user/myPacket')}>">
                <div class="icc"><i class="iconfont icon-youhuiquan"></i></div>
                <div class="lzz">红包提现</div>
                <div class="rizi"><i class="iconfont icon-jiantouri"></i></div>
            </a>
        </li>
        <li>
            <a href="<{:U('user/myLink')}>">
                <div class="icc"><i class="iconfont icon-wenjian2"></i></div>
                <div class="lzz">我的推广链接</div>
                <div class="rizi"><i class="iconfont icon-jiantouri"></i></div>
            </a>
        </li>


    </ul>
</div>
<div class="footnav">
    <div class="col-xs-3 text-center">
        <a href="<{:U('index/index')}>"><i class="iconfont icon-home"></i>
        <p>商城首页</p></a>
    </div>
    <div class="col-xs-3 text-center"><a href="<{:U('user/myOrder')}>"><i class="iconfont icon-wenjian1"></i>

        <p>我的订单</p></a></div>
    <div class="col-xs-3 text-center"><a href="<{:U('user/myCart')}>"><i class="iconfont icon-gouwuche"></i>

        <p>购&nbsp;物&nbsp;车</p></a></div>

    <div class="col-xs-3 text-center"><a href="<{:U('user/index')}>"><i class="iconfont icon-yonghux"></i>

        <p>个人中心</p></a></div>
</div>