<link href="__PUBLIC__/css/member.css" rel="stylesheet" />
<link href="__PUBLIC__/css/alongsty.css" rel="stylesheet">
<style>
    .row {
        background: none;
    }
</style>
<style>
    .checkbox{
        display: inline-block;
        -webkit-appearance: checkbox!important;
    }
    .btn{
        width: 90%;
        display: block;
        margin: 10px auto;
    }
    .see{
        position: relative;
        top: -85px;
    }
</style>
<div class="toper navbar-fixed-top">
    <div class="row color_white " >
        <div class="col-xs-2" style="padding-left:25px;"><a class="cwhite" href="#"><img src="__PUBLIC__/images/jt.png" ></a></div>
        <div class="col-xs-8 text-center font20">购物车</div>
        <div class="col-xs-2" >
            <div class="icon_shopcar">
                <div id="cartNum" class="icon_shopcar_ts">0</div>
                <a class="cwhite" href="#"><div class="photo_30"><img src="__PUBLIC__/images/icon_shopcar.png" ></div></a>
            </div>
        </div>
    </div>
</div>
<div class="height53"></div>
<form action="<{:U('user/buy')}>" class="form" method="post">
    <div class="clearfix g-Record-lst">
        <ul class="z-minheight">
            <volist name="cart" id="vo">
            <li>
                <a class="fl z-Limg" href="<{:U('goods/item')}>?id=<{$key}>">
                    <em class="z-Imgtxt"><{$OrdersStatus[$vo['status']]}></em>
                    <img src="<{:C('imgHost')}><{$goodsInfo[$key]['img']}>" border="0" alt="">
                </a>
                <div class="u-sgl-r ">
                    <a href="#">
                        <p class="z-sgl-tt"><span class="gray6"><{$GoodsInfo[$vo['gid']]['name']}></span></p>
                        <p>单价:<em class="orange">¥<{$goodsInfo[$key]['buy_price']}></em></p>
                        <p>库存:<em class="orange">¥<{$goodsInfo[$key]['left_num']}></em></p>
                        <p>状态:<em class="blue"><{$GoodsStatus[$goodsInfo[$key]['status']]}></em></p>
                        <p>下单数:<em class="blue"><{$vo}></em></p>
                    </a>
                    <div class="fr see">
                        <a href="<{:U('goods/item')}>?id=<{$key}>" role="button" class="btn btn-default">查看商品</a>
                        <a href="<{:U('index/delCart')}>?id=<{$key}>" role="button" class="btn btn-danger">移除购物车</a>
                    </div>
                </div>
                <div class="">
                    <eq name="goodsInfo[$key]['status']" value="2">
                            <egt name="goodsInfo[$key]['left_num']" value="$vo">
                                    <input class="checkbox" type="checkbox" checked="checked" name="ids[]" value="<{$key}>">
                                    <input type="hidden"  name="nums[]" value="<{$vo}>">
                                    勾选购买
                                <else />
                                    库存不足
                            </egt>
                        <else />
                            商品不可购买
                    </eq>
                </div>
            </li>
        </volist>
        </ul>
    </div>

    <div class="clearfix allOrder">
        <select class="form-control" name="addressid">
            <volist name="addr" id="vo">
                <option value="<{$vo.id}>"><{$vo.name}>-<{$vo.tel}></option>
            </volist>
        </select>
    </div>

    <div class="clearfix allOrder">
        <div id="addInfo"></div>
    </div>

    <div class="adds">
        <a role="button btn-info" href="<{:U('user/myAddr')}>" class="btn btn-info">管理地址</a>
    </div>


    <div class="add" style="position: relative;">
        <button type="submit" name="submit" class="btn btn-success">提交订单</button>
    </div>
</form>

<script>
    addr = <{$addrsJosn}>;

    $(window).ready(function(){
        $('select[name="addressid"]').change(function(){
            showAddress();
        })
        showAddress();
        $('form').submit(function(){
            chooseGoods = $('input[name="ids[]"]:checked').length;
            if(!chooseGoods){
                alert('请勾选需要结算的商品');
                return false;
            }
        })
    })

    function showAddress(){
        var id = $('select[name="addressid"]').val();
        var info = addr[id];
        console.log(info);
        var html = '<p>地址：'+info.addr+'</p>';
        html += '<p>收货人：'+info.name+'</p>';
        html += '<p>电话：'+info.tel+'</p>';
        $('#addInfo').html(html);
    }
</script>