<div class="row">
    <div class="col-sm-4">
        <div class="list-group">
            <a href="#" class="list-group-item active">
                <h4 class="list-group-item-heading">
                    <i class="glyphicon glyphicon-volume-up"></i> 商品信息
                </h4>
            </a>
            <volist name="goods" id="vo">
                <a href="<{:U('goods/index')}>?status=<{$vo.status}>" class="list-group-item">
                    <p class="list-group-item-text"><{$GoodsStatus[$vo['status']]}>:<{$vo.num}></p>
                </a>
            </volist>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="list-group">
            <a href="#" class="list-group-item active">
                <h4 class="list-group-item-heading">
                    <i class="glyphicon glyphicon-volume-up"></i> 任务信息
                </h4>
            </a>
            <volist name="task" id="vo">
                <a href="<{:U('task/index')}>?status=<{$vo.status}>" class="list-group-item">
                    <p class="list-group-item-text"><{$TaskStatus[$vo['status']]}>:<{$vo.num}></p>
                </a>
            </volist>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="list-group">
            <a href="#" class="list-group-item active">
                <h4 class="list-group-item-heading">
                    <i class="glyphicon glyphicon-volume-up"></i> 礼物兑换
                </h4>
            </a>
            <volist name="gift" id="vo">
                <a href="<{:U('gift/index')}>?status=<{$vo.status}>" class="list-group-item">
                    <p class="list-group-item-text"><{$GiftStatus[$vo['status']]}>:<{$vo.num}></p>
                </a>
            </volist>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            后台通知
        </div>
        <div class="panel-body">
            <div class="col-xs-10 col-xs-offset-1">
                <script type="text/plain" name="note" id="editor" style="width:100%;height:500px;"><{$note}></script>
            </div>
        </div>
    </div>
</div>
<include file="Public:umeditor" />

<script>
   $(window).ready(function(){
       um.ready(function(){
           um.setDisabled();
       })
   })
</script>