<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            后台通知
        </div>
        <div class="panel-body">
            <div class="col-xs-10 col-xs-offset-1">
                <script type="text/plain" name="note" id="editor" style="width:100%;height:500px;"><{$note}></script>
            </div>
        </div>
    </div>
</div>
<include file="Public:umeditor" />

<script>
   $(window).ready(function(){
       um.ready(function(){
           um.setDisabled();
       })
   })
</script>