<link href="__PUBLIC__/css/member.css" rel="stylesheet" />
<link href="__PUBLIC__/css/alongsty.css" rel="stylesheet">
<style>
    .row {
        background: none;
    }
    .checkbox{
        display: inline-block;
        -webkit-appearance: checkbox!important;
    }
    .btn{
        width: 90%;
        display: block;
        margin: 10px auto;
    }
    .see{
        position: relative;
        top: -85px;
    }
</style>
<div class="toper navbar-fixed-top">
    <div class="row color_white " >
        <div class="col-xs-2" style="padding-left:25px;"><a class="cwhite" href="#"><img src="__PUBLIC__/images/jt.png" ></a></div>
        <div class="col-xs-8 text-center font20">购物车</div>
        <div class="col-xs-2" >
            <div class="icon_shopcar">
                <div id="cartNum" class="icon_shopcar_ts">0</div>
                <a class="cwhite" href="#"><div class="photo_30"><img src="__PUBLIC__/images/icon_shopcar.png" ></div></a>
            </div>
        </div>
    </div>
</div>
<div class="height53"></div>
<form action="<{:U('goods/buyProduct')}>" class="form" method="post">
    <input type="hidden" name="aid" value="<{$aid}>">
    <div class="clearfix g-Record-lst">
        <ul class="z-minheight">
            <li>
                <a class="fl z-Limg" href="#">
                    <img src="<{:C('imgHost')}><{$Info['img']}>" border="0" alt="">
                </a>
                <div class="u-sgl-r ">
                    <a href="#">
                        <p class="z-sgl-tt"><span class="gray6"><{$Info['name']}></span></p>
                        <p>单价:<em class="orange">¥<{$Info['buy_price']}></em></p>
                    </a>
                </div>
            </li>
            </volist>
        </ul>
    </div>

    <div class="clearfix allOrder">
        <select class="form-control" name="addressid">
            <volist name="addr" id="vo">
                <option value="<{$vo.id}>"><{$vo.name}>-<{$vo.tel}></option>
            </volist>
        </select>
    </div>

    <div class="clearfix allOrder">
        <div id="addInfo"></div>
    </div>

    <div class="adds">
        <a role="button btn-info" href="<{:U('user/myAddr')}>" class="btn btn-info">管理地址</a>
    </div>


    <div class="add" style="position: relative;">
        <input type="hidden" name="aid" value="<{$Think.get.aid}>">
        <input type="hidden" name="pid" value="<{$Think.get.pid}>">
        <input type="hidden" name="from" value="<{$Think.get.from}>">
        <button type="submit" name="submit" class="btn btn-success">提交订单</button>
    </div>
</form>

<script>
    addr = <{$addrsJosn}>;

    $(window).ready(function(){
        $('select[name="addressid"]').change(function(){
            showAddress();
        })
        showAddress();

    })

    function showAddress(){
        var id = $('select[name="addressid"]').val();
        var info = addr[id];
        console.log(info);
        var html = '<p>地址：'+info.addr+'</p>';
        html += '<p>收货人：'+info.name+'</p>';
        html += '<p>电话：'+info.tel+'</p>';
        $('#addInfo').html(html);
    }
</script>