<div class="toper navbar-fixed-top">
    <div class="row color_white " >
        <div class="col-xs-2" style="padding-left:25px;"><a class="cwhite" href="#"><img src="__PUBLIC__/Images/jt.png" ></a></div>
        <div class="col-xs-8 text-center font20">方正大米</div>
        <div class="col-xs-2"><a href="#"><div class="photo_25" style="margin-top:3px;"><img src="__PUBLIC__/Images/ss.png" ></div></a></div>
    </div>
</div>
<!-- toper -->

<div class="height53"></div>
<div class="height20"></div>
<div class=" container-fluid">
    <div class="row">

        <div class="col-xs-6" style="padding-right:5px;" >
            <div class="thumbnail" style="padding:0px;">
                <a href="#"><div class="sosophoto"><img src="__PUBLIC__/Images/tu.jpg"></div></a>
                <div class="caption">
                    <h4>东北方正有机大米</h4>
                    <p class="color_gray"><span class="font16 color_orange">¥ 12</span>/斤</p>
                    <div class="text-center" style="text-align:right;"><a href="#" data-toggle="modal" data-target="#shopcar"><i class="icon-shopping-cart font16 color_green"><img src="__PUBLIC__/Images/che.png"></i> 加入购物车</a></div>
                </div>
            </div>
        </div>
        <div class="col-xs-6" style="padding-right:5px;" >
            <div class="thumbnail" style="padding:0px;">
                <a href="#"><div class="sosophoto"><img src="__PUBLIC__/Images/tu.jpg"></div></a>
                <div class="caption">
                    <h4>东北方正有机大米</h4>
                    <p class="color_gray"><span class="font16 color_orange">¥ 12</span>/斤</p>
                    <div class="text-center" style="text-align:right;"><a href="#" data-toggle="modal" data-target="#shopcar"><i class="icon-shopping-cart font16 color_green"><img src="__PUBLIC__/Images/che.png"></i> 加入购物车</a></div>
                </div>
            </div>
        </div>
        <div class="col-xs-6" style="padding-right:5px;" >
            <div class="thumbnail" style="padding:0px;">
                <a href="#"><div class="sosophoto"><img src="__PUBLIC__/Images/tu.jpg"></div></a>
                <div class="caption">
                    <h4>东北方正有机大米</h4>
                    <p class="color_gray"><span class="font16 color_orange">¥ 12</span>/斤</p>
                    <div class="text-center" style="text-align:right;"><a href="#" data-toggle="modal" data-target="#shopcar"><i class="icon-shopping-cart font16 color_green"><img src="__PUBLIC__/Images/che.png"></i> 加入购物车</a></div>
                </div>
            </div>
        </div>
        <div class="col-xs-6" style="padding-right:5px;" >
            <div class="thumbnail" style="padding:0px;">
                <a href="#"><div class="sosophoto"><img src="__PUBLIC__/Images/tu.jpg"></div></a>
                <div class="caption">
                    <h4>东北方正有机大米</h4>
                    <p class="color_gray"><span class="font16 color_orange">¥ 12</span>/斤</p>
                    <div class="text-center" style="text-align:right;"><a href="#" data-toggle="modal" data-target="#shopcar"><i class="icon-shopping-cart font16 color_green"><img src="__PUBLIC__/Images/che.png"></i> 加入购物车</a></div>
                </div>
            </div>
        </div>

    </div>

    <div class="height20"></div>
</div>

<!-- Modal -->
<div class="modal fade" id="shopcar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title font16" id="myModalLabel">我的购物车</h5>
            </div>
            <div class="modal-body aligncenter">
                <div class="photo_60"><img src="__PUBLIC__/Images/icon_shopcar_ok.png"></div><br>
                您选购的商品已加入购物车<br>
                购物车有2件商品，共计<span class="font16 color_orange">¥ 12</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-success">去结算</button>
            </div>
        </div>
    </div>
</div>

<div class="height53"></div>