<body id="hometop">
<nav class="navbar"><img src="__PUBLIC__/images/dmlogo.jpg" width="100%">
    <a href="javascript:history.go(-1);" class="topleft">
        <img src="__PUBLIC__/images/vipbk.png" width="25">
    </a>
</nav>

<article>

    <section class="commbox">
        <h3><a href="<{:U('goods/index')}>">
            <span>
                <img src="__PUBLIC__/images/title_arrow.png" width="90%" border="0">
            </span>
            <em><{$name}></em></a></h3>

        <ul class="pic_list">
            <li>
                <volist name="list" id="vo">
                    <li><a href="<{:U('goods/item')}>?id=<{$vo.gid}>"><img
                            src="<{:C('imgHost')}><{$vo.img}>"> </a>

                        <div class="info">
                            <div class="sat" style="border-bottom:none"><{$vo.name}><small style="color: #0044cc"><{$StoreName[$vo['aid']]}></small></div>
                            <div class="sat2"><span class="shu"><small style="font-size:18px;">￥<{$vo.buy_price}></small></span><a
                                    href="<{:U('goods/item')}>?id=<{$vo.gid}>" class="adcart">
                                <img src="/store/Public/images/cart.png"></a></div>
                        </div>
                    </li>
                </volist>
            </li>
        </ul>
    </section>
    <div class="pagination">
        <{$page}>
    </div>

</article>

<footer class="ft">
    <div class="copyright">
        <p><a href="#hometop"><img width="20%" src="__PUBLIC__/images/top.png"/></a></p>
    </div>
</footer>