<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/swiper.min.css"/>
<body id="hometop">

<nav class="navbar">
    <section class="detail">
        <button class="topleft" onClick="javascript:history.go(-1);"><span class="iconfont icon-fanhui"></span></button>
        <figure class="swiper-container">
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                    <a href="#">
                        <img src="<{:C(imgHost)}><{$info.img}>"/>
                    </a>
                </li>
            </ul>
            <div class="swiper-pagination">
            </div>

        </figure>
        <img src="__PUBLIC__/images/bian.png" width="100%"
             style=" margin-top:-22px; position:absolute; bottom:2; left:0; z-index:3;"/>

        <div class="jiage">
            <h3><{$info.name}></h3>
            <b>￥<{$info.buy_price}></b>

            <div class="daz">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" id="btnadd" class="btn btn-default">
                        <i class="icon-plus">+</i>
                    </button>
                    <input role="button" style="width: 50px;" id="num" class="btn btn-default disabled" value="1">
                    <button type="button" id="btnmin" class="btn btn-default">
                        <i class="icon-minus">-</i>
                    </button>
                </div>
            </div>
            <!--<p>运费：10.00</p>-->

            <p>本店购物满68元包邮</p>

            <div class="ncart">
                <a href="#" id="buyNow" class="buy">立即购买</a>
                <a href="#" id="addCart" class="go-car">加入购物车</a>
            </div>
        </div>
    </section>

</nav>


<section class="commbox">
    <h3>
        <span>
            <img src="__PUBLIC__/images/title_arrow.png" border="0" width="90%">
        </span>
        <em>Product details</em>
    </h3>

    <div class="border">
        产品详情
    </div>

    <div class="xxinfo">
        <{$info.detail}>
    </div>
</section>

<script src="__PUBLIC__/js/swiper.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var mySwiper = new Swiper('.swiper-container', {
            loop: true,
            speed: 1000,
            autoplay: 2000,
            pagination: '.swiper-pagination',
        });
    })


    GoodsId =
    <
    {
        $info.gid
    }
    >
    ;
    $(window).ready(function () {
        $('#btnmin').click(function () {
            var num = $('#num').val();
            if (num > 1) {
                num--;
            }
            $('#num').val(num);
        })
        $('#btnadd').click(function () {
            var num = $('#num').val();
            num++;
            $('#num').val(num);
        })
        $('#addCart').click(function () {
            addCart();
        })
        $('#buyNow').click(function () {
            buyNow();
        })
    })

    /**
     * 添加到购物车
     */
    function addCart() {
        $.ajax({
            url: "<{:U('index/addCart')}>",
            data: {
                id: GoodsId,
                num: $('#num').val()
            },
            success: function (data) {
                if (data.status) {
                    alert('添加成功');
                    getCartNum();
                } else {
                    alert(data.info);
                }
            }
        })
    }

    /**
     * 直接购物
     */
    function buyNow() {
        $.ajax({
            url: "<{:U('index/addCart')}>",
            data: {
                id: GoodsId,
                num: $('#num').val()
            },
            success: function (data) {
                if (data.url != '') {
                    alert(data.info);
                    window.location.href = data.url;
                }
                if (data.status) {
                    //添加到购物车成功
                    window.location.href = "<{:U('user/myCart')}>";
                }
            }
        })
    }
</script>
<div class="footnav">
    <div class="col-xs-3 text-center">
        <a href="<{:U('index/index')}>"><i class="iconfont icon-home"></i>

            <p>商城首页</p></a>
    </div>
    <div class="col-xs-3 text-center"><a href="<{:U('user/myOrder')}>"><i class="iconfont icon-wenjian1"></i>

        <p>我的订单</p></a></div>
    <div class="col-xs-3 text-center"><a href="<{:U('user/myCart')}>"><i class="iconfont icon-gouwuche"></i>

        <p>购&nbsp;物&nbsp;车</p></a></div>

    <div class="col-xs-3 text-center"><a href="<{:U('user/index')}>"><i class="iconfont icon-yonghux"></i>

        <p>个人中心</p></a></div>
</div>
<footer class="ft">
    <div class="copyright">
        <p><a href="#hometop"><img width="15%" src="__PUBLIC__/images/top.png"/></a></p>
    </div>
</footer>
</body>
</html>