<div class="toper navbar-fixed-top">
    <div class="row color_white " >
        <div class="col-xs-2" style="padding-left:25px;"><a class="cwhite" href="#"><img src="__PUBLIC__/images/jt.png" ></a></div>
        <div class="col-xs-8 text-center font20">商品详情</div>
        <div class="col-xs-2" >
            <div class="icon_shopcar">
                <div class="icon_shopcar_ts">15</div>
                <a class="cwhite" href="#"><div class="photo_30"><img src="__PUBLIC__/images/icon_shopcar.png" ></div></a>
            </div>
        </div>
    </div>
</div><!-- toper -->
<div class="height53"></div>

<a href="#"><div class="adphoto"><img src="__PUBLIC__/images/nei_02.jpg" class="img-rounded" width="100%"></div></a>
<!-- 焦点图 -->


<div class=" width100 bg_white" style="padding:10px;">
    <h4>纯正天然健康果蔬系列之有机菠菜</h4>
        <span class="pull-right">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default"><i class="icon-plus"><img src="__PUBLIC__/images/jia.png"></i></button>
                <button type="button" class="btn btn-default disabled">5</button>
                <button type="button" class="btn btn-default"><i class="icon-minus"><img src="__PUBLIC__/images/jian.png"></i></button>
            </div>
        </span>
    <p class=" color_gray font16"><span class="color_orange font20">¥136</span>&nbsp;&nbsp;&nbsp;&nbsp;<del>¥389</del></p>
    <div class="height10"></div>
    <div class=" width100 bg_white border_top hang32">
        <span class=" font16">商品规格</span>
        <span class="pull-right">750g</span>
    </div>
    <div class="height10"></div>
</div><!--a-->
<div class="height10"></div>
<div class=" width100 bg_white border_bottom" style="padding:10px;">
    <span class=" font16">商品介绍</span>
    <span class="pull-right"><a title="收起" class=" cgreen" href="#"><i class="icon-angle-up" style="font-size:24px;"><img src="__PUBLIC__/images/shouqi.jpg"></i></a></span>
</div>
<div class=" width100 bg_white" style="padding:10px;">
    <div class="artic14">
        <p><img src="__PUBLIC__/images/nei_08.jpg" width="100%"></p>
    </div>
</div><!--a-->
<div class="height10"></div>
