<body class="huibg">

<script>
    $(window).ready(function(){
        $('#regForm').submit(function(){
            var _user = $('input[name="username"]');
            var _store = $('input[name="storename"]');
            var _email = $('input[name="email"]');
            var _pw = $('input[name="password"]');
            var _pw2 = $('input[name="password2"]');
            var _img = $('input[name="img"]');
            if(_user.val()==''){
                alert('请填写用户名');
                _user.focus();
                return false;
            }
            if(_store.val()==''){
                alert('请填写店铺名');
                _store.focus();
                return false;
            }
            if(_email.val()==''){
                alert('请填写邮箱');
                _email.focus();
                return false;
            }
            if(_pw.val()==''){
                alert('请填写密码');
                _pw.focus();
                return false;
            }
            if(_pw2.val()==''){
                alert('请填写确认密码');
                _pw2.focus();
                return false;
            }
            if(_pw.val()!=_pw2.val()){
                alert('两次密码不一样');
                _pw.focus();
                return false;
            }
            if(_img.val()==''){
                alert('请上传店铺图片');
                _img.focus();
                return false;
            }
            return true;
        });
    });
</script>
<nav class="navbar text-center">
    <img src="__PUBLIC__/images/dllogo.jpg" width="100%">
    <button class="topleft" onclick="javascript:history.go(-1);">
        <span class="iconfont icon-fanhui"></span>
    </button>
</nav>


<div class="usercenter  accdv">
    <form class="form-horizontal" id="regForm" action="<{:U('index/applyAgent')}>" method="post" enctype="multipart/form-data">
        <div class="inpt">
            <div class="col-md-2">用户名：</div>
            <div class="col-md-10">
                <input type="text" name="username"  class="form-control" placeholder="用户名">
            </div>
        </div>
        <div class="inpt">
            <div class="col-md-2">邮箱：</div>
            <div class="col-md-10"><input type="text" name="email" class="form-control" placeholder="邮箱"></div>
        </div>
        <div class="inpt">
            <div class="col-md-2">密码：</div>
            <div class="col-md-10"><input type="password" name="password" class="form-control" placeholder="密码"></div>
        </div>
        <div class="inpt">
            <div class="col-md-2">确认密码：</div>
            <div class="col-md-10"><input type="password"  name="password2" class="form-control" placeholder="确认密码"></div>
        </div>
        <div class="inpt">
            <div class="col-md-2">店铺名：</div>
            <div class="col-md-10"><input type="text" name="storename" class="form-control" placeholder="店铺名"></div>
        </div>

        <div class="inpt">
            <div class="col-md-2">店铺头像</div>
            <div class="col-md-10">
                <input type="file" name="img" class="form-control">
            </div>
        </div>
        <div class="inpt">
            <div class="col-md-2"></div>
            <div class="col-md-10" align="center">
                <button type="button" name="submit" class="btn btn-danger btn-block btn-lg">申请代理</button>
            </div>
        </div>
    </form>
</div>
