
<body id="hometop">
<nav class="navbar">

    <a class="topleft" onClick="javascript:history.go(-1);"><img src="__PUBLIC__/images/vipbk.png" width="30"></a>
    <div class="dpbg"><img src="__PUBLIC__/images/dpbg.jpg" width="100%"/></div>
    <div class="topcenter">
        <a href="userinfo.html">
            <div class="touxiang"><img src="<{:C('imgHost')}><{$info.headimgurl}>" alt=""></div>
            <div class="name"><{$info.storename}><p>ID:<{$info.nickname}></p></div>
        </a>
    </div>
    <div class="topright">
        <a href="<{:U('user/addFav')}>?id=<{$info.aid}>">
            <img src="__PUBLIC__/images/sc.png" width="80%"/>
        </a>
    </div>

</nav>
<article>
    <div class="vipsan2">
        <div class="col2"><p>0</p><span class="dpzi">商品总数</span></div>
        <div class="col2"><p>0</p><span class="dpzi">本月上新</span></div>
        <div class="col2"><p>0</p><span class="dpzi">累计销量</span></div>
    </div>
    <section style=" overflow:hidden; margin:20px auto;">
        <ul class="icon_nav">

            <li><a class="sort" data-sort="sold_num" href="#"><img src="__PUBLIC__/images/dpicon1.png" width="70%"><br><font color="#666666"><span>店铺首页</span><br>DIANPUSHOUYE</font></a></li>
            <li><a class="sort" data-sort="gid" href="#"><img src="__PUBLIC__/images/dpicon2.png" width="70%"><br><font color="#666666"><span>所有宝贝</span><br>SHUOYOUBAOBEI</font></a></li>
            <li><a class="sort" data-sort="create_time" href="#"><img src="__PUBLIC__/images/dpicon1.png" width="70%"><br><font color="#666666"><span>新品上架</span><br>XINPINSHANGJIA</font></a></li>
            <li><a class="sort" data-sort="trends" href="#"><img src="__PUBLIC__/images/dpicon2.png" width="70%"><br><font color="#666666"><span>店铺动态</span><br>DIANPUDONGTAI</font></a></li>
        </ul>
    </section>
    <section class="commbox2" >
        <div class="dpdao">
            <h3><a href="">
                <span><img src="__PUBLIC__/images/title_arrow2.png" width="90%" border="0">  </span>
                <em id="sort">热销宝贝</em></a>
            </h3>
            <div class="border2" ></div>
        </div>
        <ul id="goodsList" class="pic_list">

        </ul>
        <div class="text-center">
            <button class="btn btn-default" id="addMore">加载更多</button>
        </div>
    </section>
</article>

<footer class="ft">
    <div class="copyright">
        <p><a href="#hometop"><img width="20%"src="__PUBLIC__/images/top.png" /></a></p>
    </div>
</footer>

<script>
    var storeId = "<{$info.aid}>";
    var sort = 'sold_num';
    var page = 1;
    var hasMore = true;
    $(window).ready(function(){
        getGoods();
        $('.sort').click(function(){
            $('.sort').removeClass('hover');
            $(this).addClass('hover');
            sort = $(this).attr('data-sort');
            page = 1;
            hasMore = true;
            getGoods('click');
            return false;
        });
        $('#addMore').click(function(){
            if(hasMore){
                $(this).html('加载中');
                getGoods();
            }
        })
    })
    //滚动加载
    $(window).scroll(function(){
        var totalheight = parseFloat($(window).height()) + parseFloat($(window).scrollTop());
        if((parseFloat($(document).height())-totalheight)<120){
            $('#addMore').click();
        }
    })

    function getGoods(type){
        $.ajax({
            url:"<{:U('store/getGoods')}>",
            data:{
                'storeid':storeId,
                'sort':sort,
                'p':page
            },
            success:function(data){
                if(data.status){
                    if(data.num==10){
                        hasMore = true;
                        $('#addMore').html('加载更多');
                    }else{
                        hasMore = false;
                        $('#addMore').html('到底了');
                    }
                    $('#sort').html(data.title);
                    page = data.p;
                    var list = '';
                    $.each(data['list'],function(i,vo){
                        list += '<li><a href="<{:U('goods/item')}>?id='+vo.gid+'"><img src="<{:C('imgHost')}>'+vo.img+'" /> </a><div class="info"><div class="sat" style="border-bottom:none">'+vo.name+'</div><div class="sat2"><span  class="shu"><small style="font-size:18px;">￥'+vo.buy_price+'</small></span><a href="<{:U('goods/item')}>?id='+vo.gid+'" class="adcart"><img src="__PUBLIC__/images/cart.png"></a></div></div></li>';
                    })
                    if(type=='click'){
                        $('#goodsList').html(list);
                    }else{
                        $('#goodsList').append(list);
                    }
                }
            }
        })
    }
</script>
</body>
</html>