<div class="toper navbar-fixed-top">
    <div class="row color_white " >
        <div class="col-xs-2" style="padding-left:25px;"><a class="cwhite" href="#"><img src="__PUBLIC__/images/jt.png" ></a></div>
        <div class="col-xs-8 text-center font20">方正大米</div>
        <div class="col-xs-2"><a href="#"><div class="photo_25" style="margin-top:3px;"></div></a></div>
    </div>
</div>
<!-- toper -->

<div class="height53"></div>

<a href="#"><div class="adphoto"><img src="__PUBLIC__/images/dian.jpg" class="img-rounded" width="100%"></div></a>

<!-- 导航 -->
<div class="nav-dian">
    <div class="col-xs-31 text-center">
        <a class="cgray1" href="#"><div class="photo_60_60"><img src="__PUBLIC__/images/nav12.png"><br>店铺首页</div></a>
    </div>
    <div class="col-xs-31  text-center">
        <a class="cgray1" href="#"><div class="photo_60_60"><img src="__PUBLIC__/images/nav13.png"><br>全部宝贝</div></a>
    </div>
    <div class="col-xs-31  text-center">
        <a class="cgray1" href="#"><div class="photo_60_60"><img src="__PUBLIC__/images/nav14.png"><br>新品上架</div></a>
    </div>
    <div class="col-xs-31  text-center">
        <a class="cgray1" href="#"><div class="photo_60_60"><img src="__PUBLIC__/images/nav15.png"><br>店铺动态</div></a>
    </div>

</div>
<!-- 导航 end -->


<a href="#"><div class="adphoto11" ><img src="__PUBLIC__/images/ad3.jpg" class="img-rounded" width="100%"></div></a>

<div class="height20" style=" background:#eeeeee;"></div>

<div class="row-1">
    <div class=" container-fluid">

        <h3 class="tit1">热销宝贝</h3>

        <div class="col-xs-6" style="padding-right:5px;" >
            <div class="thumbnail" style="padding:0px;">
                <a href="product_info.html"><div class="sosophoto"><img src="__PUBLIC__/images/tu.jpg"></div></a>
                <div class="caption">
                    <h4>东北方正有机大米东北方正有机大米</h4>

                    <p class="color_gray"><span class="font16 color_orange">¥ 61.8</span>&nbsp;&nbsp;<span class="font16 color_gray" style="text-decoration:line-through;">¥ 78</span></p>

                </div>
            </div>
        </div>
        <div class="col-xs-6" style="padding-right:5px;" >
            <div class="thumbnail" style="padding:0px;">
                <a href="product_info.html"><div class="sosophoto"><img src="__PUBLIC__/images/tu.jpg"></div></a>
                <div class="caption">
                    <h4>东北方正有机大米东北方正有机大米</h4>

                    <p class="color_gray"><span class="font16 color_orange">¥ 61.8</span>&nbsp;&nbsp;<span class="font16 color_gray" style="text-decoration:line-through;">¥ 78</span></p>

                </div>
            </div>
        </div>
        <div class="col-xs-6" style="padding-right:5px;" >
            <div class="thumbnail" style="padding:0px;">
                <a href="product_info.html"><div class="sosophoto"><img src="__PUBLIC__/images/tu.jpg"></div></a>
                <div class="caption">
                    <h4>东北方正有机大米东北方正有机大米</h4>

                    <p class="color_gray"><span class="font16 color_orange">¥ 61.8</span>&nbsp;&nbsp;<span class="font16 color_gray" style="text-decoration:line-through;">¥ 78</span></p>

                </div>
            </div>
        </div>
        <div class="col-xs-6" style="padding-right:5px;" >
            <div class="thumbnail" style="padding:0px;">
                <a href="product_info.html"><div class="sosophoto"><img src="__PUBLIC__/images/tu.jpg"></div></a>
                <div class="caption">
                    <h4>东北方正有机大米东北方正有机大米</h4>

                    <p class="color_gray"><span class="font16 color_orange">¥ 61.8</span>&nbsp;&nbsp;<span class="font16 color_gray" style="text-decoration:line-through;">¥ 78</span></p>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="height53"></div>