<div class="panel panel-default">
    <div class="panel-heading">
        店铺二维码
    </div>
    <div class="panel-body">
        <div class="form-horizontal" style="margin: 30px auto;">

            <div class="row">
                <div class="col-xs-5 col-sm-offset-3">
                    <div class="form-group text-center">
                        <img src="http://api.qrserver.com/v1/create-qr-code/?size=250x250&data=<{$url}>" title="扫一扫进入我的店铺" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
