<div class="nav-header"><i class="icon-dashboard"></i>用户列表</div>
<ul class="nav nav-list collapse in">
    <li ><a href="<{:U('user/index')}>">微信用户</a></li>
    <li ><a href="<{:U('user/shang')}>">所有商家</a></li>
</ul>

<div class="nav-header"><i class="icon-briefcase"></i>商品管理<span class="label label-info"></span></div>
<ul class="nav nav-list collapse in">
    <li ><a href="<{:U('goods/index')}>">所有商品</a></li>
    <li ><a href="<{:U('goods/index')}>?status=1">上架商品</a></li>
    <li ><a href="<{:U('goods/index')}>?status=2">下架商品</a></li>
    <li ><a href="<{:U('goods/index')}>?status=3">禁售商品</a></li>
</ul>

<div class="nav-header"><i class="icon-dashboard"></i>订单管理</div>
<ul class="nav nav-list collapse in">
    <li ><a href="<{:U('orders/index')}>">所有订单</a></li>
    <li ><a href="<{:U('orders/index')}>?status=1">待发货</a></li>
    <li ><a href="<{:U('orders/index')}>?status=2">已发货</a></li>
    <li ><a href="<{:U('orders/index')}>?status=3">已取消</a></li>
</ul>

<div class="nav-header"><i class="icon-legal"></i>信息管理</div>
<ul class="nav nav-list collapse in">
    <li ><a href="<{:U('admin/index')}>">所有管理员</a></li>
    <li ><a href="<{:U('admin/adduser')}>">添加管理员</a></li>
    <li ><a href="<{:U('admin/pwd')}>">修改我的密码</a></li>
    <li ><a href="<{:U('admin/setDefaultPwd')}>">默认重置密码</a></li>
    <li ><a href="<{:U('admin/setAdminEmail')}>">管理员邮箱</a></li>
    <li ><a href="<{:U('admin/setDefaultRate')}>">默认商家分成</a></li>
    <li ><a href="<{:U('admin/openReg')}>">开放注册</a></li>
    <li ><a href="<{:U('admin/setGoodsType')}>">商品种类</a></li>
    <!--<li ><a href="<{:U('gift/index')}>">礼物兑换</a></li>-->
</ul>

<div class="nav-header"><i class="icon-exclamation-sign"></i>文档管理</div>
<ul class="nav nav-list collapse in">
    <li ><a href="<{:U('admin/note')}>">后台通知</a></li>
    <li ><a href="<{:U('admin/help')}>">用户指南</a></li>
    <li ><a href="<{:U('admin/kefu')}>">联系客服</a></li>
</ul>

<div class="nav-header"><i class="icon-exclamation-sign"></i>财务管理</div>
<ul class="nav nav-list collapse in">
    <li ><a href="<{:U('money/index')}>">用户财务</a></li>
    <li ><a href="<{:U('money/shang')}>">商家财务</a></li>
    <li ><a href="<{:U('money/wxpay')}>">微信支付</a></li>
    <li ><a href="<{:U('money/packets')}>">微信红包</a></li>
</ul>