<div class="nav-header"><i class="icon-dashboard"></i>管理</div>
<ul class="nav nav-list collapse in">
    <li ><a href="<{:U('Agent/orders')}>">订单管理</a></li>
    <li ><a href="<{:U('Agent/orders')}>?status=1">最新订单</a></li>
</ul>

<div class="nav-header"><i class="icon-dashboard"></i>信息</div>
<ul class="nav nav-list collapse in">
    <li ><a href="<{:U('Agent/qrCode')}>">我的二维码</a></li>
    <li ><a href="<{:U('index/money')}>">财务记录</a></li>
    <li ><a href="<{:U('index/pwd')}>">修改密码</a></li>
</ul>