<div class="nav-header"><i class="icon-dashboard"></i>商品管理</div>
<ul class="nav nav-list collapse in">
    <li ><a href="<{:U('goods/index')}>">所有商品</a></li>
    <li ><a href="<{:U('goods/add')}>">添加商品</a></li>
    <li ><a href="<{:U('goods/index',array('status'=>2))}>">上架商品</a></li>
</ul>


<div class="nav-header"><i class="icon-dashboard"></i>订单管理</div>
<ul class="nav nav-list collapse in">
    <li ><a href="<{:U('orders/index')}>">所有订单</a></li>
    <li ><a href="<{:U('orders/index')}>?status=1">待发货</a></li>
    <li ><a href="<{:U('orders/index')}>?status=2">已发货</a></li>
    <li ><a href="<{:U('orders/index')}>?status=3">已取消</a></li>
</ul>

<div class="nav-header"><i class="icon-dashboard"></i>信息管理</div>
<ul class="nav nav-list collapse in">
    <li ><a href="<{:U('index/pwd')}>">修改密码</a></li>
    <li ><a href="<{:U('index/store')}>">我的店铺</a></li>
    <li ><a href="<{:U('index/money')}>">财务记录</a></li>
</ul>