<style>
    img{
        max-width: 200px !important;
    }
</style>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            修改产品
        </div>
        <div class="panel-body">
            <form class="form-horizontal" action="<{:U('update')}>" method="post" enctype="multipart/form-data">
                <!--商品名字、状态、提交-->
                <div class="row myrow">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">商品名字</div>
                                <input type="text" class="form-control" name="name" placeholder="商品名字" value="<{$info.name}>">
                                <div class="input-group-addon"><{$ProductStatus[$info['status']]}></div>
                            </div>
                        </div>
                    </div>

                    <neq name="info.status" value="4">
                        <div class="col-xs-2 col-xs-offset-1">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">商品状态</div>
                                    <select class="form-control" name="status">
                                        <option value="1" >直接上架</option>
                                        <option value="2" >保存下架</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </neq>

                    <div class="col-xs-2 col-xs-offset-1">
                        <input type="hidden" value="<{$info.pid}>" name="pid">
                        <button type="submit" name="submit" value="update" class="btn btn-success">修改</button>
                    </div>
                </div>
                <!--row 结束-->

                <!--图片、商品分类、单价-->
                <div class="row myrow">
                    <div class="col-xs-8">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">主题图片</div>
                                        <input type="file" id="imgsrc" class="form-control" name="file" placeholder="不选择使用图片1" onchange="javascript:setImagePreview('imgsrc','preview1');" >
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">商品分类</div>
                                        <select class="form-control" name="type">
                                            <volist name="ProductType" id="v">
                                                <option value="<{$key}>" ><{$v}></option>
                                            </volist>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">平台价</div>
                                        <input type="text" class="form-control" name="price" placeholder="平台价" value="<{$info.price}>">
                                        <div class="input-group-addon">¥</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">代理返钱</div>
                                        <input type="text" class="form-control" name="agent2" placeholder="代理返钱" value="<{$info.agent2}>">
                                        <div class="input-group-addon">¥</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">经销商返钱</div>
                                        <input type="text" class="form-control" name="agent3" placeholder="经销商返钱" value="<{$info.agent3}>">
                                        <div class="input-group-addon">¥</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">推销员返钱</div>
                                        <input type="text" class="form-control" name="agent4" placeholder="推销员返钱" value="<{$info.agent4}>">
                                        <div class="input-group-addon">¥</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div id="localImag">
                            <notempty name="info.img">
                                <img id="preview1" style="max-width: 100%" width="-1" height="-1" src="<{:C('imgHost')}><{$info.img}>" />
                            </notempty>
                        </div>
                    </div>
                </div>
                <!--row 结束-->

                <!--描述-->
                <div class="row">
                    <div class="col-lg-10 col-xs-offset-1">
                        <script type="text/plain" name="detail" id="editor" style="width:100%;height:500px;"><{$info.detail}></script>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<include file="Public:umeditor" />
<script>
    $(window).ready(function(){

        //状态、级别、描述初始化
        $('select[name="status"]').val('<{$info.status}>');
        $('select[name="type"]').val('<{$info.type}>');
    })

    function setImagePreview(fileid, previewid) {
        var c, d, e, a = document.getElementById(fileid),b = a.value;
        if (!b.match(/.jpg|.gif|.png|.bmp/i)) return alert("您上传的图片格式不正确，请重新选择！"), !1;
        if (c = document.getElementById(previewid), a.files && a.files[0]) c.style.display = "block", c.style.width = "200px", c.style.height = "200px", c.src = window.navigator.userAgent.indexOf("Chrome") >= 1 || window.navigator.userAgent.indexOf("Safari") >= 1 ? window.webkitURL.createObjectURL(a.files[0]) : window.URL.createObjectURL(a.files[0]);
        else {
            a.select(), a.blur(), d = document.selection.createRange().text, e = document.getElementById("localImag"), e.style.width = "63px", e.style.height = "63px";
            try {
                e.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)", e.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = d
            } catch (f) {
                return alert("您上传的图片格式不正确，请重新选择！"), !1
            }
            c.style.display = "none", document.selection.empty()
        }
        return document.getElementById("DivUp").style.display = "block", !0
    }
</script>